<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/busstyle.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Document</title>
</head>
<body class="exo">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
        </style>
    <div>
        <img src="image/logo.jpg" alt="" style="width: 100px;margin-left: 20px;margin-top: 15px;">
        <div class="exo logoside" style=" background-color: rebeccapurple;width:100px;height: 50px;margin-left: 20px;border-radius: 8px;"><h2 style="display: flex;justify-content: center;align-items: center;color: azure;">Viobus</h2></div>
    </div>
    <section class="sidebar">
        <div>
            <h2>Filters</h2>
        </div>
    </section>
    <section class="details">
        <div class="cards">
            <div style="background-color: grey;margin: 7px;padding: 1px;border-radius: 3px;"><h1 style="font-size: 15px;margin-left: 10px;">Start from</h1></div>
            <div class="busname">
                <h2 style="font-size:15px;">VEERA TRAVELS</h2>
                <span>A/C Sleeper (2+1)</span>
            </div>
        </div>
        <div class="starting">
            <span>Pickup</span>
            <h3>20:00</h3>
        </div>
        <div class="difference">
            <h3>10h 15m</h3>
        </div>
        
    </section>
    
</body>
</html>