<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Viobus</title>
</head>
<body>
    <section class="section1">
        <nav class="navigation" id="navbar">
            <ul>
                <img src="image/logo.jpg" alt="" style="width: 100px;margin-left: 20px;margin-top: 15px;background-color: rgba(0,0,0,0);mix-blend-mode:multiply;">

                <li>Home</li>
                <li>About</li>
                <li>Explore</li>
                <li>Profile</li>
            </ul>
        </nav>
        <div class="profile"></div>
        <div class="styleborder"></div>
    </section>
    <form class="container1" method="POST">
        <div>
            <h5>From</h5>
            <input type="text" name="from" placeholder="Theni">
        </div>
        <span class="span"></span>
        <div>
            <h5>To</h5>
            <input type="text" name="to" placeholder="Chennai">
        </div>
        <span class="span"></span>
        <div>
            <h5>Date</h5>
            <input type="date" name="date">
        </div>
        <span class="span"></span>
        <div>
            <button>Search</button>
        </div>
    </form>
    <div class="moto">
        <h2>Book Your Own Time...</h2>
    </div>
    <h2 style="margin-bottom: -50px;color: aliceblue;margin-left: 40px;">TRENDING OFFERS</h2>
    <section class="section2">
        
            
        </div>
        <a class="prev" id="prev">&#10094;</a>
        <div class="container" id="container">
            
            <div class="slide" id="slide">
                <div class="card box" id="box">
                    <img src="/image/first.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BUS</h5>
                        <p class="card-text">Save up to Rs 300 on karnataka,Tamil</p>
                        <p class="card-text">Valid till 31 Aug <br><small class="text-body-secondary">CASK300</small></p>
                    </div>
                </div>
                
                <div class="card box" id="box">
                    <img src="/image/second.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BUS</h5>
                        <p class="card-text">Save up to Rs 250 on bus tickets</p>
                        <p class="card-text">valid till 31 Aug <br><small class="text-body-secondary">First</small></p>
                    </div>
                </div><div class="card box" id="box">
                    <img src="/image/third.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">TRAIN</h5>
                        <p class="card-text">Save up to Rs 300 on AP , TS routes</p>
                        <p class="card-text"> Valid till 31 Aug <br><small class="text-body-secondary">SUPERHIT</small></p>
                    </div>
                </div><div class="card box" id="box">
                    <img src="/image/fourth.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BUS</h5>
                        <p class="card-text">Save upto Rs 500 with ICICI Bank Accounts</p>
                        <p class="card-text">Valid till 02 Aug <br><small class="text-body-secondary">ICIC500</small></p>
                    </div>
                </div><div class="card box" id="box">
                    <img src="/image/fifth.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">TRAIN</h5>
                        <p class="card-text">Save upto Rs 300 on Chartered Bus</p>
                        <p class="card-text">Valid till 31 Aug <br><small class="text-body-secondary">CHARTERED15</small></p>
                    </div>
                </div><div class="card box" id="box">
                    <img src="/image/sixth.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">BUS</h5>
                        <p class="card-text">Save 25% up to Rs 100 on SBSTC bus</p>
                        <p class="card-text"> Valid till 31 Aug <br><small class="text-body-secondary">SBNEW</small></p>
                    </div>
                </div><div class="card box" id="box">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">CAB</h5>
                        <p class="card-text">Save up to Rs.150 on Intrcity SmartBus</p>
                        <p class="card-text">Valid till 31 Aug <br><small class="text-body-secondary">SMARTBUS150</small></p>
                    </div>
                </div>
            </div>
        </div>
        <a class="next" id="next">&#10095;</a>
    </section>
    <section class="section3">
        <img src="image/booking.jpg" alt="bus-booking">
        <div>
            <p style="font-weight: 500;">Book Bus Tickets on viobus simple & superfast booking process with no service fee + no payment gateway charge.</p>
            <ul>
                <li> Authorised Partner</li>
                <li> Easy way for booking</li>   
                <li> Instant refunds on UPI payments</li>
                <li> Hassle- free customer support</li>
            </ul><br>
            <a href="">Book Tickets</a>
        </div>
    </section>
    <section class="section4">
        <div class="sales">
           <img src="/image/sales.webp" alt="" class="sales-image">
           <div class="sales-offers">
            <ul>
                <li>
                    <h4>On Time</h4>
                    <p>Punctual arrivals on 95% trips</p>
                </li>
                <li class="sep-list">
                    <h4>Friendly Staff</h4>
                    <p>Always ready to help</p>
                </li>
                <li>
                    <h4>Top Rated</h4>
                    <p>Buses with 4+ star rating</p>
                </li>
            </ul>
           </div>
        </div>
    </section>
    <section class="section5" id="section5">
        <div class="detail">
            <h2>BOOK BUS TICKETS ONLINE</h2>
            <p>VioBus is India's largest brand for online bus ticket booking and offers an easy-to-use online bus ticket booking; with over 36 million satisfied customers, 3500+ bus operators to choose from, and plenty of offers on bus ticket booking, VioBus makes road journeys super convenient for travellers. A leading platform for booking bus tickets, VioBus has been the leader in online bus booking over the past 17 years across thousands of cities and lakhs of routes in India.</p>
            <p>Booking a bus ticket online on the VioBus app or website is very simple. You can download the VioBus app or visit VioBus.in and enter your source, destination & travel date to check the top-rated bus services available. You can then compare bus prices, user ratings & amenities, select your preferred seat, boarding & dropping points and pay using multiple payment options like UPI, debit or credit card, net banking and more. With VioBus, get assured safe & secure payment methods and guaranteed travel with the best s<span id="dots">...</span><span id="more">eat and bus operator of your choice. Once the bus booking payment is confirmed, all you have to do is pack your bags and get ready to travel with the m-ticket, which you can show to the bus operator on your mobile before boarding the bus. Online bus ticket booking with VioBus is that simple! <br><br>

                VioBus also offers other exclusive benefits on online bus tickets like flexible ticket rescheduling options, easy & friendly cancellation policies, and instant payment refunds. With a live bus tracking feature, you can plan travel and never miss the bus. You can get the cheapest bus tickets by availing the best discounts for new & existing customers. With redDeals, you can also get exclusive & additional discounts on your online bus ticket booking. You will get 24/7 customer support on call, chat & help to resolve all your queries in English & local languages.
                <br><br>
                VioBus offers Primo bus services, specially curated by VioBus, which have highly rated buses and best-in-class service. With Primo by VioBus, you can be assured of safe, comfortable, and on-time bus service at no additional cost. With multiple boarding and dropping points available across all major cities in India, you can select at your convenience and enjoy a smooth travel experience. <br><br>
                
                VioBus operates in six countries, including India, Malaysia, Singapore, Indonesia, Peru, and Colombia. Through its website and app, it has sold over 220 million bus tickets worldwide. With over 36 million satisfied customers, VioBus is committed to providing its users with a world-class online bus booking experience.
                <br><br>
                VioBus offers bus tickets from some of the top private bus operators, such as Orange Travels, VRL Travels, SRS Travels, Chartered Bus, and Praveen Travels, and state government bus operators, such as APSRTC, TSRTC, GSRTC, Kerala RTC, TNSTC, RSRTC, UPSRTC, and more. With VioBus, customers can easily book bus tickets for different bus types, such as AC/non-AC, Sleeper, Seater, Volvo, Multi-axle, AC Sleeper, Electric buses, and more.</span><a onclick="myFunction()" id="myBtn" style="cursor: pointer; color: blue;"> Read more</a></p>
        </div>
    </section>
    <footer>
        <div class="link-block">
            <div class="block1">
                <p>vioBus is the world's largest online bus ticket booking service trusted by over 25 million happy customers globally. vioBus offers bus ticket booking through its website, iOS and Android mobile apps for all major routes.</p>
            </div>
            <div class="block2">
                <h4>About VioBus</h4>
                <ul>
                    <li>About us</li>
                    <li>Contact us</li>
                    <li>Offers</li>
                    <li>Values</li>
                </ul>
            </div>
            <div class="block3">
                <h4>Global sites</h4>
                <ul>
                    <li>India</li>
                    <li>Singapore</li>
                    <li>Malaysia</li>
                    <li>Indonesia</li>
                    <li>Peru</li>
                    <li>Colombia</li>
                    <li>Cambodia</li>
                    <li>Vietnam</li>
                </ul>
            </div>
            <div class="block4">
                <h4>Our Partners</h4>
                <ul>
                    <li>Giyu Travels</li>
                    <li>Leonardo Hotels</li>
                </ul>
            </div>
        </div>
        <div class="line"></div>
        <div class="block5">
            <h6>Ⓒ 2024 Redbus India Pvt Ltd. All rights reserved</h6>
        </div>
        <div class="social-media">
            <ul class="ul-images">
                <li><img src="image/instagram.png" alt=""></li>
                <li><img src="image/facebook.png" alt=""></li>
                <li><img src="image/linkedin.png" alt=""></li>
                <li><img src="image/twitter.svg" alt=""></li>
            </ul>
        </div>
    </footer>


    <script>
        
        const container = document.getElementById("container");
        const prev_btn = document.getElementById("prev");
        const next_btn = document.getElementById("next");

        prev_btn.addEventListener("click", (e)=> {
        e.preventDefault();
        container.scrollLeft -= 300;    
        });

        next_btn.addEventListener("click", (e)=> {
        e.preventDefault();
        container.scrollLeft += 300;
        });

        window.onscroll = function(){
            if(document.body.scrollTop > 20 || document.documentElement.scrollTop >20){
                document.getElementById("navbar").style.top ="0px";
            }else{
                document.getElementById("navbar").style.top = "-50px";
            }
        }


            function myFunction() {
                var dots = document.getElementById("dots");
                var moreText = document.getElementById("more");
                var btnText = document.getElementById("myBtn");
                var section = document.getElementById("section5")

                if (dots.style.display === "none") {
                    dots.style.display = "block";
                    btnText.innerHTML = "Read more"; 
                    moreText.style.display = "none";
                    section.style.height = "85vh";
                } else {
                    dots.style.display = "none";
                    btnText.innerHTML = "Read less"; 
                    moreText.style.display = "inline";
                    section.style.height = "1000px";
                }
                }

                const form = document.querySelector('form');
                const from = document.querySelector('input[name="from"]');
                const to = document.querySelector('input[name="to"]');
                const date = document.querySelector('input[name="date"]');

                form.addEventListener('submit',async (e) => {
                    e.preventDefault();

                    console.log(from.value);
                    console.log(to.value);
                    console.log(date.value);

                    fromvalue = from.value;
                    tovalue = to.value;
                    datevalue = date.value; 

                    try{
                        const res = await fetch('/search',{
                            method: 'POST',
                            body:JSON.stringify({fromvalue,tovalue,datevalue}),
                            headers : { 'content-Type' : 'application/json'}
                        });

                        const data = await res.json();
                        console.log(data);
                    }
                    catch(err){
                        console.log(err)
                    }
                });



    </script>
</body>
</html>
